@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

/* This will affect the entire document */
::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #1D1E28; /* color of the tracking area */
}


::-webkit-scrollbar-thumb {
  background: #00D991; /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #50a187; /* color of the scroll thumb on hover */
}

body {
  font-family: 'Sora', sans-serif;
}